.Try-valueHunt {
    text-decoration: none;
    background-color: white;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    border: 3px solid #131413;
    border-radius: 5px;
    padding-left: 18px;
    padding-right: 18px;
}

.Try-valueHunt:hover {
    background-color: rgb(99, 250, 227);
}


@media only screen and (min-width: 1024px) {
    .Try-valueHunt {
        text-decoration: none;
        background-color: white;
        padding: 5px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 2px;
        border: 3px solid #131413;
        border-radius: 10px;
        padding-left: 18px;
        padding-right: 18px;
        padding: 14px;
    }

    .Try-valueHunt:hover {
        background-color: rgb(99, 250, 227);
    }

}

@media only screen and (max-width: 989px) {
    .Try-valueHunt {
        padding-left: 18px;
        padding-right: 18px;
        padding: 14px;
    }
}

@media only screen and (min-width: 799px) and (max-width: 989px) {
    .Try-valueHunt {
        padding-left: 18px;
        padding-right: 18px;
        padding: 14px;
    }
}


@media only screen and (min-width: 569px) and (max-width: 798px) {
    .Try-valueHunt {
        text-decoration: none;
        background-color: white;
        padding: 5px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 2px;
        border: 3px solid #131413;
        border-radius: 10px;
        padding-left: 18px;
        padding-right: 18px;
        padding: 14px;
    }

    .Try-valueHunt:hover {
        background-color: rgb(99, 250, 227);
    }
}

@media only screen and (min-width: 406px) and (max-width: 569px) {
    .Try-valueHunt {
        text-decoration: none;
        background-color: white;
        padding: 5px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 2px;
        border: 3px solid #131413;
        border-radius: 10px;
        text-align: center;
        white-space: nowrap;
    }

    .Try-valueHunt:hover {
        background-color: rgb(99, 250, 227);
    }
}



@media only screen and (min-width: 300px) and (max-width: 407px) {
    .Try-valueHunt {
        text-decoration: none;
        background-color: white;
        padding: 5px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 2px;
        border: 3px solid #131413;
        border-radius: 10px;
        text-align: center;
        white-space: nowrap;
    }

    .Try-valueHunt:hover {
        background-color: rgb(99, 250, 227);
    }

}

@media only screen and (min-width: 230px) and (max-width: 299px) {
    .Try-valueHunt {
        text-decoration: none;
        background-color: white;
        padding: 5px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 2px;
        border: 3px solid #131413;
        border-radius: 10px;
        white-space: nowrap;
        text-align: center;
    }

    .Try-valueHunt:hover {
        background-color: rgb(99, 250, 227);
    }
}

@media only screen and (min-width: 100px) and (max-width: 229px) {
    .Try-valueHunt {
        text-decoration: none;
        background-color: white;
        padding: 5px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 2px;
        border: 3px solid #131413;
        border-radius: 10px;
        white-space: nowrap;
        text-align: center;
    }

    .Try-valueHunt:hover {
        background-color: rgb(99, 250, 227);
    }
}

@media only screen and (max-width: 100px) {
    .Try-valueHunt {
        text-decoration: none;
        background-color: white;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 2px;
        border: 3px solid #131413;
        border-radius: 10px;
        white-space: nowrap;
        text-align: center;
    }

    .Try-valueHunt:hover {
        background-color: rgb(99, 250, 227);
    }
}