.con {
    align-content: center;
    text-align: center;
}

.imgContainer {
    display: flex;
    flex-direction: row;
    padding: 30px 60px;
    padding-bottom: 140px;

}

.imgContainer img {
    display: flex;
    margin: 0 64px;
    align-items: center;
    align-self: center;
    text-align: center;
}

.heading {
    align-content: center;
    text-align: center;
    font-weight: 900;
    font-size: 32px;
}


@media only screen and (min-width: 1024px) and (max-width : 1259px) {
    .imgContainer {
        padding: 20px 20px;
    }

    .imgContainer img {
        margin: 0 32px;
    }
}

@media only screen and (min-width: 912px) and (max-width:1024px) {
    .imgContainer {
        padding: 20px 20px;
    }

    .imgContainer img {
        display: flex;
        margin: 0 22px;
    }
}

@media only screen and (max-width: 911.5px) {
    .imgContainer {
        padding: 20px 20px;

    }

    .imgContainer img {
        display: flex;
        margin: 0 20px;
    }
}

@media only screen and (min-width: 799px) and (max-width: 911.6px) {

    .imgContainer {
        padding: 20px 20px;

    }

    .imgContainer img {
        display: flex;
        margin: 0 12px;
    }
}

@media only screen and (min-width: 560px) and (max-width: 798.6px) {
    .imgContainer {
        display: flex;
        flex-direction: row;
        padding: 20px 10px;

    }

    .imgContainer img {
        display: flex;
        margin: 0px;
    }

    .heading {
        align-content: center;
        text-align: center;
        font-weight: 900;
        font-size: 30px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 559.6px) {
    .con {
        align-content: center;
        text-align: center;
    }

    .imgContainer {
        display: flex;
        flex-direction: row;
        padding: 20px 15px;


    }

    .imgContainer img {
        display: flex;
        margin: 0px 6px;
        align-items: center;
        align-self: center;
        text-align: center;
        width: 50px;
        height: 50px;
    }

    .heading {
        align-content: center;
        text-align: center;
        font-weight: 900;
        font-size: 30px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 399.6px) {
    .con {
        align-content: center;
        text-align: center;
    }

    .imgContainer {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        flex-direction: row;
        padding: 15px 10px;
    }

    .imgContainer img {
        display: flex;
        margin: 0px 3px;
        align-items: center;
        align-self: center;
        text-align: center;
        width: 50px;
        height: 40px;
    }

    .heading {
        align-content: center;
        text-align: center;
        font-weight: 900;
        font-size: 24px;
    }
}

@media only screen and (min-width: 200px) and (max-width: 299.6px) {
    .con {
        align-content: center;
        text-align: center;
    }

    .imgContainer {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        flex-direction: row;
        padding: 10px 5px;


    }

    .imgContainer img {
        display: flex;
        margin: 0px;
        align-items: center;
        align-self: center;
        text-align: center;
        width: 40px;
        height: 30px;
    }

    .heading {
        align-content: center;
        text-align: center;
        font-weight: 900;
        font-size: 24px;
    }
}