/* AddProduct.module.css */

/* Container */
.container {
    max-width: 70vw;
    margin: 70px auto;
    padding: 20px;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .container label{
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
  }
  .container input{
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
    width: 200px;
  }

  /* Form Title */
  .container h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
    color: #333;
  }
  
.formGroup{
  display: flex;
  /* flex-wrap: wrap; */
  margin-right: 10px;
  justify-content: center;

}
  .form label {
    flex-basis: 45%;
    margin-bottom: 10px;
   
  }
  
  .form .textareaField{
    /* background-color: yellow; */
    font-size: 16px;
    margin-right: 12px;
    margin-bottom: 20px;
    width: 100%;
  height: 150px;
  }
  /* Add the inputField class for styling input elements */
  .form input.inputField,
  .form textarea.inputField {
    flex-basis: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Apply this class to textareas */
  .form textarea.inputField {
    resize: vertical; /* Allow vertical resizing for textareas */
  }
  
  .form button {
    background-color: #3000ff;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .form button:hover {
    background-color: #0056b3;
  }
  

  
  @media (max-width: 950px) {

    .form input {
     font-size: 14px;
    }
    .form label {
      flex-basis: 45%;
      margin-bottom: 10px;
      font-size: 16px;
     
    }
    .form button {
      font-size: 16px;
    }

  }
  @media (max-width: 800px){
    .form input {
      font-size: 12px;
     }
     .form label {
       flex-basis: 45%;
       margin-bottom: 10px;
       font-size: 16px;
      
     }
  }
  @media (max-width: 569px){
    .form input {
      font-size: 12px;
     }
     .form label {
       flex-basis: 45%;
       margin-bottom: 10px;
       font-size: 14px;
      
     }
     .form button {
      font-size: 15px;
    }
  }
  @media (max-width: 400px) {
    .container {
      max-width: 100vw;
    }
    .form input {
      font-size: 10px;
     }
     .form label {
       flex-basis: 45%;
       margin-bottom: 10px;
       font-size: 12px;
      
     }
     .form button {
      font-size: 12px;
    }
  }
  @media (max-width: 270px){
    .form input {
      font-size: 10px;
     }
     .formGroup{
      flex-direction: column;
     }
     .form label {
       flex-basis: 45%;
       margin-bottom: 10px;
       font-size: 12px;
      
     }
     .form button {
      font-size: 12px;
    }
    .form input{
      width: 80vw;
    }
    .container h1{
      font-size: 18px;
    }
    .formGroup button{
      width: 80vw;
      /* background-color: yellow ; */
      }
  }
  @media (max-width: 100px) {
    .formGroup button{
    width: 80vw;
    margin: 0;
    padding: 0;
    /* background-color: yellow ; */
    }
  }