.main_container {
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: snow;
    padding-bottom: 80px;
    color: white;
}


.main_container h2 {
    text-align: center;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
}

.wrapperDiv {
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    background-color: lightslategrey;
    border: 2px solid white;
    border-radius: 40px;
    width: 70%;
}

.Smain_container label {
    padding: 20px;
    font-size: 24px;
    line-height: 50px;
    font-weight: 800;

}

.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
}

.lsmbtn {
    display: flex;
}

.email input {
    width: 330px;
    height: 76px;
    border: 1px solid pink;
    border-radius: 10px;
    margin-left: 0px;
    align-items: center;
    align-self: center;

}

.Smain_container input {
    padding: 0px 15px;
}


.password input {
    padding: 0px 10px;
    width: 330px;
    height: 76px;
    border: 0px solid #FFF;
    border-radius: 10px;
    margin-left: 0px;
    margin-bottom: 14px;
}


.form_container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}


.password {
    justify-content: space-between;
}


.form_container input[type="submit"] {
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
    width: 330px;
    height: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 0px solid #FFF;
    border-radius: 20px;

}

.smbtn:hover {
    cursor: pointer;
    color: #FFF;
    background-color: tan;
}

.authBtn a {
    display: flex;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    width: 154px;
    height: 55px;
    font-size: 30px;
    font-weight: 400;
    border: 1px solid rgb(114, 114, 167);
    background-color: rgb(86, 94, 94);
    border-radius: 10px;
    padding: 10px;
}

.authDiv a {
    text-decoration: none;
    font-size: 20px;
    outline: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
}



@media only screen and (max-width:911.2px) {

    .main_container {
        padding: 40px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: snow;
        padding-bottom: 80px;
        color: white;
    }


    .main_container h2 {
        text-align: center;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 2px;
        line-height: 1.5;
    }

    .wrapperDiv {
        padding: 40px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        background-color: lightslategrey;
        border: 2px solid white;
        border-radius: 40px;
        width: 70%;
    }

    .Smain_container label {
        padding: 20px;
        font-size: 24px;
        line-height: 50px;
        font-weight: 800;

    }

    .form {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 30px;
        align-items: center;
        justify-content: space-between;
        justify-items: center;
    }

    .lsmbtn {
        display: flex;
    }

    .email input {
        width: 330px;
        height: 76px;
        border: 1px solid pink;
        border-radius: 10px;
        margin-left: 0px;
        align-items: center;
        align-self: center;

    }

    .Smain_container input {
        padding: 0px 15px;
    }


    .password input {
        padding: 0px 10px;
        width: 330px;
        height: 76px;
        border: 0px solid #FFF;
        border-radius: 10px;
        margin-left: 0px;
        margin-bottom: 14px;
    }


    .form_container {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }


    .password {
        justify-content: space-between;
    }


    .form_container input[type="submit"] {
        font-size: 20px;
        font-weight: 600;
        margin: 0px;
        width: 330px;
        height: 60px;
        text-align: center;
        align-items: center;
        justify-content: center;
        border: 0px solid #FFF;
        border-radius: 20px;

    }

    .smbtn:hover {
        cursor: pointer;
        color: #FFF;
        background-color: tan;
    }

    .authBtn a {
        display: flex;
        color: #FFF;
        text-decoration: none;
        text-align: center;
        justify-content: center;
        width: 154px;
        height: 55px;
        font-size: 30px;
        font-weight: 400;
        border: 1px solid rgb(114, 114, 167);
        background-color: rgb(86, 94, 94);
        border-radius: 10px;
        padding: 10px;
    }

    .authDiv a {
        text-decoration: none;
        font-size: 20px;
        outline: none;
        color: rgb(255, 255, 255);
        font-weight: 600;
    }



    .main_container {
        padding-top: 7.6rem;
    }
}

@media only screen and (min-width: 569px) and (max-width: 789.2px) {
    .main_container {
        padding: 20px;
        padding-bottom: 80px;
        padding-top: 7.6rem;
    }


    .wrapperDiv {
        padding: 30px 0px;
        gap: 17px;
        width: 85%;
    }

    .form {
        padding: 30px 0px;
        gap: 30px;
    }

    .email {
        display: flex;
        flex-direction: column;
    }


    .email input {
        text-align: center;
        align-items: center;
        margin-left: 0px;

    }

    .password {
        display: flex;
        flex-direction: column;
    }

    .password input {
        text-align: center;
        margin-left: 0px;
    }

    .authBtn a {
        width: 136px;
        height: 49px;
        font-size: 28px;
        padding: 8px;
    }

    .smbtn {
        margin: 0px;
    }


}

@media only screen and (min-width: 458px) and (max-width: 568px) {

    .main_container {
        padding: 20px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 80px;
        padding-top: 7.6rem;
    }


    .wrapperDiv {
        padding: 30px 0px;
        gap: 17px;
        width: 94%;
    }

    .form {
        padding: 30px 0px;
        gap: 30px;
    }

    .email {
        display: flex;
        flex-direction: column;
    }

    .email input {
        text-align: center;
        align-items: center;
        /* margin-left: 0px; */

    }

    .password {
        display: flex;
        flex-direction: column;
    }


    .password input {
        text-align: center;
        /* margin-left: 42px; */
    }

    .authBtn a {
        width: 136px;
        height: 49px;
        font-size: 28px;
        padding: 8px;
    }

    .form_container input[type="submit"] {
        margin: 0px;
    }
}

@media only screen and (min-width: 332px) and (max-width: 457.6px) {

    .main_container {
        padding: 20px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 80px;
        padding-top: 7.6rem;
        margin-left: 0;
        padding-left: 0;
        margin-right: 0;
        padding-right: 0;
    }


    .wrapperDiv {
        padding: 30px 0px;
        gap: 17px;
        width: 95%;
    }

    .form {
        padding: 30px 0px;
        gap: 30px;

    }


    .email {
        display: flex;
        flex-direction: column;
    }

    .email input {
        text-align: center;
        align-items: center;
        width: 295px;
        height: 90px;
    }

    .password {
        display: flex;
        flex-direction: column;
    }


    .password input {
        text-align: center;
        width: 295px;
        height: 90px;
    }

    .authBtn a {
        width: 136px;
        height: 49px;
        font-size: 28px;
        padding: 8px;
    }

    .form_container input[type="submit"] {
        margin: 0px;
        width: 295px;
        height: 65px;
    }
}

@media only screen and (min-width: 240px) and (max-width: 331.2px) {


    .main_container {
        padding: 20px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 80px;
        padding-top: 7.6rem;
        margin-left: 0;
        padding-left: 0;
        margin-right: 0;
        padding-right: 0;
    }


    .wrapperDiv {
        padding: 30px 0px;
        gap: 17px;
        width: 95%;
    }


    .form {
        padding: 30px 0px;
        gap: 30px;

    }

    .email {
        display: flex;
        flex-direction: column;
    }

    .email input {
        text-align: center;
        align-items: center;
        width: 200px;
        height: 88px;

    }

    .password {
        display: flex;
        flex-direction: column;
    }


    .password input {
        text-align: center;
        align-items: center;
        width: 200px;
        height: 88px;
    }

    .authBtn a {
        width: 136px;
        height: 49px;
        font-size: 28px;
        padding: 8px;
    }

    .form_container input[type="submit"] {
        width: 200px;
        height: 50px;
    }

    .authDiv div {
        padding-left: 15px;
    }

}
