/* dashboard.css */

/* Overall styling */
.container {
  max-width: 100%;
  margin: 0px auto;
  padding: 40px 10px;
  /* background-color: #f4f4f4; */
  font-family: Arial, sans-serif;
}

/* Header styles */
.container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;

}

.heading{
  display: flex;
  /* text-align: center; */
  /* width: 100vw; */
  justify-content: center;
  align-items: center;
}

/* Table styles */
.container table {
  /* width: 80vw; */
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow-x: auto; /* Enable horizontal scrolling for small screens */
  margin: 0 auto;
}

.container thead {
  background-color: #007bff;
  color: #fff;
}

.container thead th {
  padding: 12px;
  text-align: left;
}

.container tbody td {
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

/* Link styles */
.container a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff8c00;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.heading h2{
  margin-top: 20px;

}

.container a:hover {
  background-color: #ff9100;
}

/* Image styles */
.container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container ul li {
  display: inline-block;
  margin-right: 10px;
}

.container ul li img {
  width: 70px; /* Set the image size to 200px */
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Add this CSS to your stylesheet (e.g., style.module.css) */
/* Customize the button styles as needed */

/* Button Container (optional) */
.download-button-container {
  text-align: center; /* Center the button */
}

/* Button Style */
.downloadButton {
  width: 50px;
  height: 50px;
  font-size: 14px;
  cursor: pointer;

}

/* Button Hover Effect */
.downloadButton:hover {
  background-color: #d39804; /* Darker blue on hover */
}
@media (max-width: 950px) {
  .container{
    padding-top: 100px;
  }
}

  @media (max-width: 300px) {
    .container ul li img {
      width: 40px;
    }
    .container td img{
      width: 40px;

    }
    .container td  a{
      font-size: 14px;
    }
  }
  @media (max-width: 270px){}
    @media (max-width: 100px){} 